@page "/artist/{ArtistId:long}"
@attribute [Authorize]

@using Chinook.Models
@using Chinook.ClientModels
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;

@if (!string.IsNullOrWhiteSpace(infoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @infoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (artist == null)
{
    <Loading />
}
else
{
    <h1>@artist.Name</h1>
    if (tracks != null && tracks.Any())
    {
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Album title</th>
                    <th>Track name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var track in tracks)
                {
                    <tr>
                        <td>@track.AlbumTitle</td>
                        <td>@track.TrackName</td>
                        <td>
                            @if (track.IsFavorite)
                            {
                                <a href="#" class="m-1" title="Unmark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))"
                                @onclick:preventDefault>
                                    <i class="bi bi-star-fill"></i>
                                </a>
                            }
                            else
                            {
                                <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))"
                                @onclick:preventDefault>
                                    <i class="bi bi-star"></i>
                                </a>
                            }
                            <a href="#" class="m-1" title="Add to playlist" @onclick="@(() => OpenPlaylistDialog(track.TrackId))"
                            @onclick:preventDefault>
                                <i class="bi bi-file-earmark-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<Modal @ref="playlistDialog">
    <Title>
        Add to playlist
    </Title>

    <Body>
        <p>
            You can add a track to an existing playlist or a new playlist or both at the same time.
            <br /> To avoid adding existing playlist, leave existing playlist empty.
        </p>
        @if (selectedTrack != null)
        {
            <div class="form-group mb-2">
                <label>@artist?.Name - @selectedTrack.AlbumTitle - @selectedTrack.TrackName</label>
            </div>

            <EditForm Model="@addToPlaylistInput" OnSubmit="@AddTrackToPlaylist">
                <DataAnnotationsValidator />
                @if (userPlaylists != null && userPlaylists.Any())
                {
                    <div class="form-group mb-2">
                        <label for="ExistingPlaylist">Add to existing playlist</label>
                        <InputSelect class="form-control" @bind-Value="addToPlaylistInput.ExistingPlaylistId">
                            <option value="" selected></option>
                            @foreach (var userPlayList in userPlaylists)
                            {
                                <option value="@userPlayList.PlaylistId">@userPlayList.Playlist.Name</option>
                            }
                        </InputSelect>
                    </div>
                }
                <div class="form-group mb-2">
                    <label for="NewPlaylist">Create new playlist</label>
                    <InputText @bind-Value="addToPlaylistInput.NewPlaylistName" class="form-control"
                               placeholder="Name for the new playlist" @oninput="CheckDuplicatePlaylistNames" />
                    <ValidationMessage For="()=>addToPlaylistInput.NewPlaylistName"></ValidationMessage>
                    @if (isDuplicatePlaylistName)
                    {
                        <div class="mt-1 text-start validation-message">
                            @playlistDuplicationMessage
                        </div>
                    }                   
                </div>
                <div class="row" align="right">
                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-success">Save</button>
                        @*<button type="submit" class="btn btn-success" @onclick="() => AddTrackToPlaylist(selectedTrack.TrackId)">Save</button>*@
                    </div>
                </div>
            </EditForm>
        }

    </Body>

</Modal>
