@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]

@using Chinook.Models;
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@using Chinook.Helpers;

@{
    var visiblePlaylistName = PlaylistHelper.GetVisibleFavoritePlaylistName(playlistModel.Name, currentUserId);
    var isFavoritePlaylist = PlaylistHelper.IsFavoritePlaylistName(playlistModel.Name, currentUserId);
    var realFavoritePlaylistName = PlaylistHelper.GetFavoritePlaylistName(currentUserId);
}

<h1>Playlist <strong>@visiblePlaylistName</strong></h1>

@if (!string.IsNullOrWhiteSpace(infoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @infoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (playlistModel == null)
{
    <Loading />
}
else
{
    if (playlistModel.Tracks != null && playlistModel.Tracks.Any())
    {
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Track</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var track in playlistModel.Tracks)
                {
                    <tr>
                        <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                        <td>
                            <div class="d-flex">
                                @if (playlistModel.Name != realFavoritePlaylistName)
                                {
                                    @if (track.IsFavorite)
                                    {
                                        <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                    }
                                    else
                                    {
                                        <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                                    }
                                }
                                <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(playlistModel.Id, track.TrackId, isFavoritePlaylist))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


